body{
    background-color: gray;
}
.sub-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.d{
    align-items: center;
    justify-content: center;
    text-align: center;
}
nav{
    width: 100%;
    height: 6rem;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: brown;
}
.logo{
    display: flex;
    gap: 4px;
    margin-left: 10px;
    align-items: center;
}
nav .logo ul li a{
    color: red;
    list-style: none;
    /* gap: 2rem; */
    text-decoration: none;
    transition: 2s;
    margin-left: 2rem;
}
nav .logo ul li a:hover{
    color: #fff;
}
.searchWrapper{
    margin-right: 18px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
input{
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 4px;
    background-color: black;
    font-size: 19px;
}
input::placeholder{
    color: #fff;
}
.me{
    border: 2px solid black;
    border-radius: 6rem;
}
.man{
    display: flex;
    flex-direction: column;
    left: 1px;
    box-shadow: 15px 15px 4px rgba(63, 50, 50, 0.075);
    background-color: #ffffff63;
    padding: 30px 20px;
    /* margin-right: 50rem; */
    /* margin-top: 10rem; */
    align-content: center;
    margin-bottom: 4rem;
    border: 1px solid black;
    transition: ease 0.2s;
    border-radius: 0.6rem;
    align-items:start
}
.man:hover{
    transform: scale(1.1);
    opacity: 1;
 }

 
.man{
    cursor: pointer;
    transition: 2s ease-in-out;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.man:hover{
    box-shadow: 15px 15px 4px rgba(185, 151, 151, 0.171);
}
h1{
    font-size: 15px;
    align-items: start;
}
.them{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
#me{
    display: flex;
    gap: 42rem;
    padding: 25px;
    align-items: flex-start;
    height: 23vh;
    margin-bottom: 2rem;
    background-position: center;
    background-size: cover;
    background-image: url(./pics/IMG_2584.jpeg);
}
.imgs1{
    width: 220px;
    height: 220px;
}
.news{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 40%;
    gap: .5;
}
#me h4{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
#me p{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
#me span{
    color: rgba(233, 205, 48, 0.658);
    font-size: 18px;
    font-weight: 300;
}
input{
    color: rgba(0, 0, 0, 0.747);
    font-size: 18px;
    background-color: transparent;
}
.enter{
    display: flex;
    margin-top: 2rem;
}
.sects{
    margin-left: 6rem;
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    align-items: flex-start;
    
}
.first{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 18px;
    align-content: flex-start;
    width: fit-content;
    width: 40rem;
}
.sect a{
    text-decoration: none;
    list-style: none;
}
.app{
    border: 1px solid black;
    gap: 1rem;
    margin-right: 10rem;
}

footer{
    top: 4%;
    width: 100%;
    position: relative;
    background-color:rgba(5, 87, 87, 0.719);
    color: black;
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    line-height: 17px;
    border-radius: 14px;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
}
.footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-style: oblique;
    font-weight: 700;
    width: 35%;
}
footer h1{
    color: black;
}
.logos{
    width: 35%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-style: oblique;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;
}
.us{
    display: flex;
    gap: 0.5rem;
}
.logos li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
}
.logos h3{
    margin-left: 2.5rem;
    gap: 3rem;
}
.text{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sidebar{
    position: fixed;
    left: 59rem;
    right: 0;
    top: 0;
    height: 1200vh;
    width: 30%;
    background-color: rgba(255, 0, 0, 0.684);
    backdrop-filter: blur(30px);
    color: black;
    z-index: 999;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
}
.sidebars{
    position: fixed;
    left: 9rem;
    right: 0;
    top: 0;
    height: 1200vh;
    overflow-y: scroll;
    width: 30%;
    background-color: rgba(255, 0, 0, 0.684);
    backdrop-filter: blur(30px);
    color: black;
    z-index: 999;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
}
.logoing{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.home{
    margin-left: 4rem;
    margin-bottom: 7rem;
}
.box-container{
    display: grid;
    grid-template-columns: 15rem 35rem 15rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.headers{
    border: 1px solid #fff;
    text-align: center;
    height: 5rem;
    justify-content: center;
    align-items: center
    }

.head{
    display: flex;
    gap: 8rem;
}
.box-containers{
    background-color: rgba(0, 0, 0, 0.692);
    color: #f17070;
    width: 77%;
    margin-left: 10rem;
    box-shadow: 1rem 1rem 1rem black;
    position: absolute;
    top: 97rem;
}
.feedback{
    margin-left: 8rem;
    margin-top: 8rem;
}
.input-field{
    height: 6rem;
    border: none;
    border-bottom: 1px solid black;
}
input{
    border: none;
    border-bottom: 1px solid #fff;
}
.user input{
    border: none;
    border-bottom: 1px solid #fff;
}
.subbox-container{
    display: flex;
    gap: 4rem;
}
h6{
    font-weight: 300;
    font-size: 2rem;
}
.feedback p{
    margin-top: 4rem;
}

.circle{
    width: 750px;
    height: 800px;
    background-color: #ffffffc3;
    border-radius: 50%;
    margin-left: 20rem;
}
@media screen and (max-width: 1290px)
{
    body{
        overflow-x: hidden;
    }
    .searchWrapper{
        margin-right: 9rem;
    }
    .thes{
        display: none;
    }
    .them{
        margin-top: 4rem;
    }
    .man{
        margin-left: 3rem;
    }
    #me{
        width: 108%;
    }
    #banner{
        width: 113%;
    }
    .box-containers{
        margin-left: 5rem;
        top: 138rem;
        width: 82%;
    }
    .circle{
        margin-left: 13rem;
    }
    .feedbacks{
        margin-top: 4rem;
        margin-left: 4rem;
        width: 40%;
    }
    .rent {
        border: 1px gray solid;
        background-color: transparent;
        color: black;
        padding: 0.6rem;
        margin-top: 0.3rem;
        border-radius: 0.4rem;
        text-decoration: none;
      }
    
    
}

@media screen and (max-width: 1030px)
{
    body{
        overflow-x: hidden;
    }
    .thes{
        display: none;
    }
    .imgs1{
        width: 220px;
        height: 220px;
    }
    .them{
        margin-left: 6rem;
    }
    .box-containers{
        margin-left: 4rem;
        top: 200rem;
        width: 88%;
    }
    .circle{
        width: 650px;
        height: 800px;
        border-radius: 50%;
        margin-left: 11rem;
    }
    .feedbacks{
        margin-top: 4rem;
        margin-left: 4rem;
        width: 40%;
    }
    .box-container{
        grid-template-columns: 13.5rem 29rem 14rem;
    }
}
@media screen and (max-width: 930px)
{
    body{
        overflow-x: hidden;
    }
    nav{
        min-width: 96%;
    }
    .imgs1{
        width: 150px;
        height: 180px;
    }
    .man{
        margin-left: 1rem;
    }
    .them{
        margin-left: 6rem;
    }
    .box-container{
        grid-template-columns: 12.8rem 24rem 14rem;
    }
    .box-containers{
        margin-left: 3rem;
        top: 248rem;
        width: 93%;
    }
    .circle{
        width: 650px;
        height: 800px;
        border-radius: 50%;
        margin-left: 9rem;
    }
}
@media screen and (max-width: 850px)
{
    body{
        overflow-x: hidden;
    }
    nav{
        width: 99%;
    }
    .them{
        margin-left: 3rem;
    }

    .circle{
        margin-left: 7rem;
        width: 550px;
    }
    .box-containers{
        margin-left: 3rem;
        top: 186rem;
        width: 87%;
    }
    .box-container{
        grid-template-columns: 12.8rem 19rem 12rem;
    }

    .feedback{
        margin-left: 2rem;
    }
    .head{
        gap: 2rem;
    }
}
@media screen and (max-width: 780px)
{
    .imgs1{
        width: 220px;
        height: 200px;
    }
    nav .logo ul li a{
        margin-left: 1rem;
    }
    .them{
        margin-left: 1rem;
    }
    .man{
        margin-left: 3rem;
    }
    .box-containers{
        margin-left: 3rem;
        top: 179rem;
        width: 87%;
    }
    .box-container{
        grid-template-columns: 12.8rem 17rem 12rem;
    }

}
@media screen and (max-width: 620px)
{
    nav .logo ul li a{
        display: none;
    }
    .searchWrapper{
        margin-right: 58px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
    }
    .imgs1{
        width: 120px;
        height: 150px;
    }
    .man{
        margin-left: 2rem;
    }
    nav{
        width: 125%;
    }
    .box-containers{
        margin-left: 2rem;
        top: 154rem;
        width: 109%;
    }
    .circle{
        width: 500px;
        height: 910px;
        border-radius: 50%;
        margin-left: 6rem;
    }
    .box-container{
        grid-template-columns: 11rem 17rem 13rem;
    }
    .head{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .headers{
        height: 11rem;
        word-wrap: normal;
    }
    .headers h3{
        margin-top: 2rem;
    }
    .feedback{
        margin-left: 1rem;
    }
    h6{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 590px){
    .searchWrapper{
        margin-right: 17rem;
        gap: 2rem;
    }
    .box-container{
        grid-template-columns: 11rem 15rem 11rem;
    }
    .headers .h3{
        margin-top: 3rem;
    }
    .box-containers{
        top: 160rem;
    }
    .thes{
        display: contents;
    }
    .sidebars{
        background-color: gray;
        height: 60%;
        width: 100%;
        font-size: 1rem;
        /* align-items: center; */
        /* text-align: center; */
    }
    .sidebars a{
        margin-left: 15rem;
    }
    .circle{
        display: none;
    }
    .box-containers{
        display: none;
    }
}
@media screen and (max-width: 380px)
{
    body{
        overflow-x: hidden;
    }
    nav .logo ul li a{
        display: none;
    }
    .circle{
        display: none;
    }

}

@media screen and (max-width: 450px)
{
    .man{
        margin-left: 4rem;
    }
    .imgs1{
        width: 180px;
        height: 190px;
    }
    .box-containers{
        display: none;
    }
    .circle{
        display: none;
    }
}