#contain{
    display: none;
}
.container{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background-color: darkgrey;
    padding: 10px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: absolute;
    box-shadow: 0 0 20px 9px skyblue;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{}
